@use "../abstracts/mixins";

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    &__back-btn {
        flex: 1;
        transform: translateX(20px);

        @include mixins.not-mobile {
            font-size: 1.5rem;
        }
    }

    &__logo {

        flex: 1;
        text-align: center;
        padding: 21px 0 10px 0;
        
        > img {
            width: 162px;  

            @include mixins.not-mobile {
                width: 200px;
            }       
        }

    }

    &::after {
        content: " ";
        display: block;
        flex: 1;
    }

    &--home {

        &::after {
            flex: 0;
        }        
    }        

}



