@use "../abstracts/mixins";
@use "../base";
@use "../components/loaders";

$background-color: map-get(base.$background-color, 'hsl');

$step-icon-width: 25px;
$steps-number: 3;

@keyframes load-page-elements {
    100% {
        visibility: visible;
        opacity: 1;
    }
}

/* Tout le contenu de la page doit être invisible au démarrage
On collapse aussi le contenu pour réduire la hauteur de la page
L'animation permet de faire apparaître le contenu après un certain délai
dépendant du loader utilisé */
.page__home {
    opacity: 0;
    visibility: collapse;
    animation: load-page-elements 2s loaders.$loading-total-duration ease-in-out forwards;
}

.location {
    text-align: center;
    padding: 18px 0 18px 28px;
    background-color: hsl(0, 0%, 93%);
    box-shadow: 0px 8px 5px -5px hsla(0, 0%, 0%, 5%) inset;
    
    &__input {
        font-size: 0.85rem;
        font-weight: 300;
        border: none;
        background-color: hsl(0, 0%, 93%);
        padding-left: 20px;
        outline: none;
    }    
}

.hero {
    text-align: center;
    padding: 40px 0 50px 0;
    background-color: $background-color; 

    &__presentation {
        margin-bottom: 30px;
    }

    &__tagline {
        font-weight: 200;
        padding-left: 40px;
        padding-right: 30px;
    }
}

.explanations {
    padding: 50px 20px 65px 20px;

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        padding-left: calc($step-icon-width/2); // De sorte à ce que le centre de l'icone soit bien sur le bord de l'élément parent

        @include mixins.not-mobile {
            flex-flow: row wrap;
            column-gap: 50px;
        }
    }

    &__item {
        flex-grow: 1;
        position: relative;
        display: flex;
        column-gap: 20px;
        padding: 30px 0 30px 30px;
        background: $background-color;
        border-radius: 20px;
        @include mixins.box-shadow-default;
        font-weight: bold;  
        z-index: 1;

        &::before {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;            
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            right: 0;
            bottom: 0;
            left: 0;
            width: $step-icon-width;
            height: $step-icon-width;
            border-radius: 50%;
            background: map-get(base.$primary-color, 'hsl');
            color: hsl(0, 0%, 100%);
            font-weight: bold;
        }

        // Ici on boucle sur les éléments indiquant les étapes du site pour que chaque étape ait le chiffre approprié
        @for $i from 1 through $steps-number {
            &:nth-child(#{$i})::before {
                content: "#{$i}";
            }
        }
        
        &::after {
            border-radius: 20px;
        }

        // Au survol, le bouton et l'icone seront éclaircits
        &:hover {
            > .explanations__step-icon {
                color: map-get(base.$primary-color, 'rgba');
            }
        }

        @include mixins.change-bg-colour(
            lighten(map-get(base.$primary-color, 'rgba'), 30%),
            250ms,
            ""
        );
    }

    &__step-icon {
        color: hsl(0, 0%, 62%);        
    }
}

.restaurants {
    padding: 55px 20px 60px 20px;
    background-color: $background-color;

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        
        @include mixins.not-mobile {
            justify-content: space-between;
            column-gap: 10px;
            flex-flow: row wrap;
        }        
    }

}