@use "../abstracts/mixins";
@use "../base";

$terciary-color: map-get(base.$terciary-color, 'hsl');

$animation-menu-check-duration: 400ms;

$food-numbers: 9;
$animation-food-load-duration: 800ms;  
$animation-food-load-delay: calc(3*$animation-food-load-duration / $food-numbers);

$animation-food-opacity-duration: 500ms;

@keyframes food-gets-visible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes menu-card-appear {
    0% {
        transform: translate3d(0, 5px, 0);
        // opacity: 0;
    }
    100% {
        transform: translate3d(0, 0px, 0);
        // opacity: 1;
    }
}

@keyframes rotate360 {
    to {
        transform: rotate(1turn);
    }
}

.restaurant-cover {
    overflow: hidden;

    > img {
        width: 100%;
        max-height: 275px;
        object-fit: cover;
        transform: scaleX(1.1);

        @include mixins.not-mobile {
            max-height: 500px;
            transform: scaleX(1);
        }
    }
}

.restaurant-main {
    // margin-top: -40px;
    margin-top: -55px;
    position: relative;
    z-index: 2;
    border-radius: 40px 40px 0 0;
    background: map-get(base.$background-color, 'hsl');
    padding: 40px 12px;
}

.restaurant-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 29px;
    padding-left: 3px;
    margin-bottom: 34px;

    &__title {
        font-family: base.$title-font-family;
        font-size: 1.7rem;
        font-weight: 100;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 40px;

    @include mixins.not-mobile {
        flex-flow: row wrap;
        justify-content: space-between;   
        column-gap: 40px; 
    }
}

.service {

    &__title {
        font-size: 0.95rem;
        font-weight: 200;
        text-transform: uppercase;
        margin-bottom: 6px;
    }

    &__underline {
        width: 40px;
        border-bottom: 3px solid $terciary-color;
        margin-bottom: 11px;
    }   

    &__foods-list {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    @include mixins.not-mobile {
        flex-grow: 1;
    }    
}

.food-item {
    $f: &;

    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;

    @include mixins.box-shadow-default; 

    @for $i from 1 through $food-numbers {
        &:nth-child(#{$i}) {
            animation: menu-card-appear $animation-food-load-duration $i*$animation-food-load-delay forwards ease-in, food-gets-visible $animation-food-opacity-duration $i*$animation-food-load-delay forwards ease-in;
        }
    }

    &__visible {
        box-sizing: border-box;
        width: 100%;
        padding: 15px 0px 15px 10px;
        transition: all $animation-menu-check-duration linear;
        
        #{$f}:hover & {
            width: 83%;
        }        
    }

    &__name {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 8px;
        padding-right: 22%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;        
    }
    
    &__details {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        padding-right: 20px;
    }

    &__recipe {
        width: 77%;
        font-weight: 200;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;        
    }

    &__price {
        font-weight: bold;
    }

    &__hidden {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0px;
        background: $terciary-color;
        overflow: hidden;
        transition: all $animation-menu-check-duration linear;

        #{$f}:hover & {
            width: 17%;
        }
    }

    &__check {
        color: $terciary-color;
        background-color: hsl(0, 0%, 100%);
        border-radius: 50%;
        padding: 5px;
        
        #{$f}:hover & {
            animation: rotate360 $animation-menu-check-duration linear forwards;
        }
    }

    @include mixins.not-mobile {
        width: 350px;
    }        
}

.command-menu {
    display: flex;
    justify-content: center;
}
