@use "../base";
@use "../abstracts/mixins";

$keyframes-move-up-duration: 1s;
$button-main-background-color: linear-gradient(175deg, map-get(base.$secondary-color, 'rgba') 0%, map-get(base.$primary-color, 'rgba') 100%);

.base-btn {
    position: relative;
    padding: 15px 20px;
    background: $button-main-background-color;
    border-radius: 50px;
    color: white;
    border: none;
    z-index: 1;
    overflow: hidden;
    cursor:pointer;

    @include mixins.box-shadow-default;
    
    @include mixins.change-bg-colour(
        linear-gradient(360deg, lighten(map-get(base.$primary-color, 'rgba'), 10%) 0%,lighten(map-get(base.$secondary-color, 'rgba'), 10%) 76%),
        250ms,
        ""
    );

    &--command {
        padding-right: 45px;
        padding-left: 45px;
    }
}

.like-btn {
    $lb: &;
    
    height: 25px;
    width: 25px;
    overflow: hidden;
    cursor: pointer;

    &__icon {
        height: 25px;
        width: 25px;
        transform: scale(1.05, 1.15);
        position: absolute;
        font-size: 25px; 
        
        &--menu {
            background: map-get(base.$background-color, 'hsl');
            transform: scale(1, 1);
        }

        &--filled {
            background-image: $button-main-background-color;
        
            background-size: 100%;
            background-repeat: repeat;
            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent; 

            opacity: 0;
        }
        
    }

    &:hover {

        #{$lb}__icon {

            &--unfilled {
                animation: anim-remove-color $keyframes-move-up-duration cubic-bezier(.2, .6, .8, .4) 1 forwards;
            }

            &--filled {
                animation: anim-fill-color $keyframes-move-up-duration cubic-bezier(.2, .6, .8, .4) 1 forwards;
            }
        }
    }
}

@keyframes anim-fill-color {
    100% {
        opacity: 1; 
    }
}

@keyframes anim-remove-color {
    100% {
        opacity: 0; 
    }
}