@use "../base";
@use "../abstracts/mixins";

$keyframes-move-up-duration: 3s;
$button-main-background-color: linear-gradient(175deg, map-get(base.$secondary-color, 'rgba') 0%, map-get(base.$primary-color, 'rgba') 100%);

.base-btn {
    position: relative;
    padding: 15px 20px;
    background: $button-main-background-color;
    border-radius: 50px;
    color: white;
    border: none;
    z-index: 1;
    overflow: hidden;
    cursor:pointer;

    @include mixins.box-shadow-default;
    
    @include mixins.change-bg-colour(
        linear-gradient(360deg, lighten(map-get(base.$primary-color, 'rgba'), 10%) 0%,lighten(map-get(base.$secondary-color, 'rgba'), 10%) 76%),
        250ms,
        ""
    );

    &--command {
        padding-right: 45px;
        padding-left: 45px;
    }
}

.like-btn {
    $lb: &;
    
    height: 25px;
    width: 25px;
    overflow: hidden;
    cursor: pointer;

    &__icon {
        height: 25px;
        width: 25px;
        transform: scale(1.05, 1.15);
        position: absolute;
        font-size: 25px; 
        background: #fff;
        
        &--menu {
            background: map-get(base.$background-color, 'hsl');
            transform: scale(1, 1);
        }
        
    }

    &__moving-icon {
        width: 25px;
        height: 25px;
        font-size: 25px;
        color: map-get(base.$primary-color, 'hsl');
    }

    &:hover {

        #{$lb}__icon {
            animation: anim-gradient-color 0s $keyframes-move-up-duration 1 forwards; 
        }

        #{$lb}__fill {
            animation: anim-move-btn-up $keyframes-move-up-duration cubic-bezier(.2, .6, .8, .4) 1 forwards;
            mix-blend-mode: lighten;
        }
    }
}

@keyframes anim-gradient-color {
    100% {
        
        background-image: $button-main-background-color;
        
        background-size: 100%;
        background-repeat: repeat;
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;

        font-weight: bold;
    }
}

@keyframes anim-move-btn-up {
    0% {
        transform: translate(0, 25px);
    }
    100% {
        transform: translate(0, 0);
    }
}
