@use "../base/colors";

$circle-duration: 1000ms;
$loading-total-duration: 3000ms;
$loading-spinning-number: calc($loading-total-duration/$circle-duration);

$terminate-load-duration: 2000ms;
$terminate-load-delay: calc($loading-total-duration - $terminate-load-duration);

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@keyframes terminate-load {
    100% {
        opacity: 0;
    }
}

@keyframes remove-spinner {
    to {
        width: 0px;
    }
}

.spinner {
    aspect-ratio: 1/1;
    width: 50%;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -12.25%;
    margin-left: -12.25%;

    animation: terminate-load $terminate-load-duration $terminate-load-delay ease-out forwards, remove-spinner 0s $loading-total-duration linear forwards;

    &::before {
        content: '';
        box-sizing: border-box;
        position: absolute;
        aspect-ratio: 1/1;
        width: 50%;
        border-radius: 50%;
        border: 2px solid map-get(colors.$background-color, 'hsl');
        border-top-color: map-get(colors.$secondary-color, 'hsl');
        border-bottom-color: map-get(colors.$primary-color, 'hsl');
        animation: spinner $circle-duration ease-out $loading-spinning-number;
    }

}