$primary-color: (
    'hex': #9356DC,
    'rgba': rgba(147,86,220,1),
    'hls': hsl(267, 66%, 60%),
);

$secondary-color: (
    'hex': #FF79DA,
    'rgba': rgba(255,121,218,1),
    'hls': hsl(317, 100%, 74%),
);

$terciary-color: (
    'hex': #99E2D0,
    'rgba': rgb(153,226,208,1),
    'hls': hsl(165, 56%, 75%),
); 

